.root {
  width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.root:hover {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, .2);
}

.image {
  width: 240px;
  height: 120px;
}

.currencyBlock {
  composes: mt-1 from global;
  display: flex;
  align-items: center;
  gap: 9px;
}

.price {
  composes: text text_type_digits-default from global;
}

.title {
  composes: mt-1 text text_type_main-default from global;
  text-align: center;
}